<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Information</title>
</head>
<body>
    <h2>Danh sách người dùng</h2>
    <table>
        <thead class="column">
        <tr>
            <td>ID</td>
            <td>Tài khoản</td>
            <td>Mật khẩu</td>
            <td>Tên đầy đủ</td>
        </tr>
        </thead>
        <tbody>
        <tr class="record" th:each="item: ${list}">
            <td th:text="*{item.getId()}"></td>
            <td th:text="*{item.getName()}"></td>
            <td th:text="*{item.getPassword()}"></td>
            <td th:text="*{item.getFullname()}"></td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/api/users}">
        Xem danh sách
    </a>
</body>
</html>